@keyframes tonext {
  75% {
    left: 0;
  }
  95% {
    left: 100%;
  }
  98% {
    left: 100%;
  }
  99% {
    left: 0;
  }
}

@keyframes tostart {
  75% {
    left: 0;
  }
  95% {
    left: -300%;
  }
  98% {
    left: -300%;
  }
  99% {
    left: 0;
  }
}

@keyframes snap {
  96% {
    scroll-snap-align: center;
  }
  97% {
    scroll-snap-align: none;
  }
  99% {
    scroll-snap-align: none;
  }
  100% {
    scroll-snap-align: center;
  }
}

.comments-wrapper * {
  box-sizing: border-box;
  scrollbar-color: transparent transparent; /* thumb and track color */
  scrollbar-width: 0px;
}

.comments-wrapper *::-webkit-scrollbar {
  width: 0;
}

.comments-wrapper *::-webkit-scrollbar-track {
  background: transparent;
}

.comments-wrapper *::-webkit-scrollbar-thumb {
  background: transparent;
  border: none;
}

.comments-wrapper * {
  -ms-overflow-style: none;
}

ol,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.carousel {
  position: relative;
  filter: drop-shadow(0 0 10px #0003);
  perspective: 100px;
  height: 100%;
}

.carousel-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  overflow-x: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  margin: 0;
  height: 100px;
  overflow: hidden;
}

.carousel-slide {
  height: 80px;
  position: relative;
  flex: 0 0 100%;
  width: 100%;
  outline: none;
  text-align: center;
}

.carousel-slide:before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -40%, 70px);
  color: #fff;
  font-size: 2em;
}

.carousel-snapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  scroll-snap-align: center;
  z-index: 0;
}

@media (hover: hover) {
  .carousel-snapper {
    animation-name: tonext, snap;
    animation-timing-function: ease;
    /* animation-duration: 400s; */
    animation-iteration-count: infinite;
  }

  .carousel-slide:last-child .carousel-snapper {
    animation-name: tostart, snap;
  }
}

@media (prefers-reduced-motion: reduce) {
  .carousel-snapper {
    animation-name: none;
  }
}

.carousel:hover .carousel-snapper,
.carousel:focus-within .carousel-snapper {
  animation-name: none;
}

.carousel__navigation {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
}

.carousel__navigation-list,
.carousel__navigation-item {
  display: inline-block;
}

.carousel__navigation-button {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  background-color: #333;
  background-clip: content-box;
  border: 0.25rem solid transparent;
  border-radius: 50%;
  font-size: 0;
  transition: transform 0.1s;
}

.carousel::before,
.carousel::after,
.carousel-prev,
.carousel-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  font-size: 0;
  outline: 0;
}

.carousel::before,
.carousel-prev {
  left: 6px;
}

.carousel::after,
.carousel-next {
  right: 6px;
}

.carousel::before,
.carousel::after {
  z-index: 1;
  background-size: 1.5rem 1.5rem;
  background-repeat: no-repeat;
  background-position: center center;
  color: #fff;
  font-size: 2.5rem;
  line-height: 4rem;
  text-align: center;
  pointer-events: none;
  background-size: 12px;
  content: "";
  /* background-color: transparent; */
}

.carousel::before {
  background-image: url("data:image/svg+xml,%3Csvg%20width%3D%226%22%20height%3D%2211%22%20viewBox%3D%220%200%206%2011%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%20%20%3Cpath%20d%3D%22M5%201L1%205.5L5%2010%22%20stroke%3D%22%238F9397%22%20stroke-width%3D%221.5%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%0A%20%20%20%20%3C%2Fsvg%3E%0A");
  background-size: 9px;
}

.carousel::after {
  background-image: url("data:image/svg+xml,%3Csvg%20width%3D%226%22%20height%3D%2211%22%20viewBox%3D%220%200%206%2011%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%20%20%3Cpath%20d%3D%22M1%201L5%205.5L1%2010%22%20stroke%3D%22%238F9397%22%20stroke-width%3D%221.5%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%0A%3C%2Fsvg%3E%0A%20%20%20%20");
  background-size: 9px;
}


.comments-wrapper {
  height: 80px;
  position: relative;
}

.comment-owner {
  position: absolute;
  top: 70%;
  z-index: 1;
  font-size: 12px;
  width: 100%;
  color: #000065;
}

.comment-text {
  position: absolute;
  z-index: 1;
  max-height: 32px;
  top: 44%;
  overflow-y: hidden;
  width: 81%;
  font-size: 13px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.comment-counter {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -17px;
  font-size: 11px;
  z-index: 44;
}