.highlighted {
    
}

.highlighted.yellow {
    background: #ffff72;
}

.highlighted.orange {
    background: #ffcaa5;
}

.highlighted.green {
    background: #cfff72;
}

.highlighted.others-color{
    background: #cacaca;
}

.highlighted.others-color:hover,  .highlighted.others-color:hover *{
    background: #ababab;
}