@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300;400;600;700&display=swap');

.highlighter-popup {
    position: fixed;
    width: 300px;
    height: 269px;
    background: white;
    z-index: 2000000000;
    right: 15px;
    top: 15px;
    border-radius: 14px;
    box-shadow: 2px 3px 13px 5px #00000017;
    font-family: 'Signika Negative', sans-serif;
    color: #6C757D;
}

.highlighter-popup-body {
    position: relative;
    height: 227px;
}

.highlighter-popup.log {
    top: 50px;
    height: 281px;
}

.highlighter-popup.controller {
    top: 343px;
}

.highlighter-popup-header .colors-wrapper {
    display: inline-flex;
    justify-content: space-evenly;
    height: 42px;
    padding-top: 10px;
    box-sizing: border-box;
    width: 98px;
    margin-right: 0;
    width: 30%;
    margin-right: 106px;
}

.highlighter-popup-header {
    width: 100%;
    height: 42px;
    background: #F7F6FF;
    border-radius: 14px 14px 0 0;
    display: flex;
    padding: 0 5px;
    /* justify-content: space-between; */
    box-sizing: border-box;
}

.highlighter-popup-header h5 {
    font-size: 17px;
    text-align: left;
    margin-right: auto;
    line-height: 45px;
    margin-left: 6px;
    color: #6C757D;
    padding: 0;
}

.highlighter-popup.log .highlighter-popup-header {
    align-items: center;
}

.color-btn {
    cursor: pointer;
    height: 20px;
    width: 20px;
    border-radius: 100%;
    box-shadow: none;
    border: none;
}

.color-btn.selected {
    box-shadow: 0 0 0px 3px #5d5d5d;
}

.color-btn:focus {
    outline: none;
}

.color-btn.yellow {
    background: #ffff72;
}

.color-btn.orange {
    background: #ffcaa5;
}

.color-btn.green {
    background: #cfff72;
}

.highlighter-popup-log {
    margin-top: 0px;
    overflow-y: scroll;
    height: 189px;
}

.highlighter-popup-log .log-wrapper {
    border: solid 1px #F7F6FF;;
    border-radius: 18px;
    padding: 6px 8px 6px 20px;
    margin: 0 8px 10px auto;
    position: relative;
    box-sizing: border-box;
    width: 89%;
    height: 72px;
/*     background: rgb(39, 39, 39);
    color: white; */
}

.highlighter-popup-log .log-text {
    margin: 0;
    margin-right: 10px;
    line-height: 18px;
    vertical-align: baseline;
    display: inline-block;
    margin-right: 10px;
    max-height: 52px;
    text-overflow: ellipsis;
    overflow: hidden;
    box-sizing: content-box;
    color: #6C757D;
    font-size: 15px;
    padding-left: 4px;
    width: 174px;
    margin-top: 2px;
}

.highlighter-popup-log .log-icons {
    width: 27px;
    display: inline-block;
    box-sizing: content-box;
    position: absolute;
    top: 8px;
}

.highlighter-popup .icon-wrapper {
    border-radius: 3px;
    width: 24px;
    height: 24px;
    background: transparent;
/*     border: 1px solid #cccccc; */
}

.highlighter-popup-log .log-web-icon {
    height: 24px;
    width: 24px;
    border-radius: 5px;
}

.highlighter-popup-log .log-delete {
    margin-top: 8px;
    font-size: 21px;
    margin-left: 2px;
    cursor: pointer;
}

.highlighter-popup .log-text::before {
    content: "";
    position: absolute;
    left: -1px;
    top: 0;
    height: 100%;
    border-radius: 10px 0 0 10px;
    width: 12px;
}

.highlighter-popup .log-text.yellow::before {
    background: #ffff72;
}

.highlighter-popup .log-text.orange::before {
    background: #ffcaa5;
}

.highlighter-popup .log-text.green::before {
    background: #cfff72;
}

.highlighter-popup.log .icons-wrapper {
    display: inline-flex;
    width: 22%;
    justify-content: space-evenly;
    margin: 0;
    height: 42px;
    padding-top: 8px;
    box-sizing: border-box;
}

.highlighter-popup.log .header-btn {
    width: 27px;
    height: 27px;
    border: none;
    border-radius: 100%;
    background: #E9ECEF;
    padding: 0;
    cursor: pointer;
    outline: none;
}

#fix-btn.activated {
    background: #00bd53 !important;
}

#fix-btn.activated i {
    color: white !important;
}

.highlighter-popup.log .header-btn i {
    font-size: 18px;
    color: #6C757D;
    padding-top: 4px;
}

.highlighter-popup-log::-webkit-scrollbar {
    width: 24px;
    background: transparent;
}

.highlighter-popup-log::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 18px;
    border: solid 9px transparent;
    box-shadow: inset 0 0 0px 30px #bbbbbe;
}

.highlighter-popup-log::-webkit-scrollbar-thumb:hover {
    border: solid 7px transparent;
}

.others-toggle-wrapper {
    display: inline-flex;
    background: #F8F9FA;
    padding: 4px 7px;
    border-radius: 60px;
}

.others-toggle-wrapper span:first-child {
    font-size: 13px;
    margin-right: 5px;
    line-height: 19px;
}

.others-toggle .slider:before {
    width: 14px;
    height: 14px;
    top: 2px;
    left: 2px;
}

.others-toggle {
    position: relative;
    display: inline-block;
    height: 18px;
    width: 29px;
}

.others-toggle input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.title-wrapper {
    padding: 4px 10px 0px 12px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 4px;
}

.title-wrapper h5 {
    font-size: 14px;
    display: inline-flex;
    color: #6C757D;
}

.others-toggle input:checked + .slider:before {
    -webkit-transform: translateX(11px);
    -ms-transform: translateX(11px);
    transform: translateX(11px);
}

.logout-wrapper {
    margin-right: 6px;
    margin-left: 2px;
}

.logout-btn {
    padding-left: 2px !important;
}


/*CONTEUDO          */
.rate-info-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 12px 18px;
}

.rate-wrapper {
    width: 43%;
}

.rate-title {
    display: flex;
    align-items: end;
    margin-bottom: 9px;
}

.rate-title span {
    font-size: 15px;
    font-weight: bold;
    margin-right: 2px;
}

.rate-title i {
    font-size: 15px;
}

.rate-bar {
    background: #edebff;
    color: white;
    border-radius: 40px;
    width: 100%;
    height: 20px;
    margin-bottom: 7px;
}

.rate-bar-value {
    background: #ADB5BD;
    border-radius: 40px;
    width: 50%;
    height: 100%;
    text-align: end;
    padding-right: 8px;
    box-sizing: border-box;
    font-size: 14px;
    line-height: 21px;
}

.rate-btn {
    border: none;
    width: 72%;
    background: #5D5BC8;
    color: white;
    height: 25px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 13px;
}

.page-classification {
    display: flex;
    align-items: center;
}

.page-classification svg {
    width: 23px;
    height: 23px;
    margin-right: 5px;
}

.page-classification span {
    font-size: 14px;
    font-weight: bold;
    color: black;
}

.comments-wrapper {
    height: 63px;
    background: #efefef;
    width: 263px;
    margin: 4px auto 10px auto;
    border-radius: 14px;
}

.premium-btn {
    background: #cecece;
    height: 36px;
    width: 263px;
    margin: 0px auto;
    border-radius: 14px;
}




/*INITIAL*/ 

.login-btn {
    border: none;
    height: 40px;
    width: 48%;
    font-size: 15px;
    margin-bottom: 3px;
    background: #5D5BC8;
    color: white;
    border-radius: 8px;
    cursor: pointer;
}

.highlighter-popup-initial {
    display: flex;
    align-items: center;
    height: 227px;
    flex-flow: column;
    padding-top: 78px;
}

.register-text {
    font-size: 13px;
}

.register-cta {
    text-decoration: underline;
    cursor: pointer;
}


/*LOGIN*/
.highlighter-popup-login {
    display: flex;
    align-items: center;
    height: 227px;
    flex-flow: column;
    padding-top: 17px;
}

.register-btn {
    border: none;
    height: 24px;
    font-size: 12px;
    width: 73px;
    margin-bottom: 3px;
    background: #5D5BC8;
    color: white;
    border-radius: 6px;
    cursor: pointer;
}

.cancel-btn {
    border: none;
    height: 24px;
    font-size: 12px;
    width: 73px;
    margin-bottom: 3px;
    background: #5D5BC8;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    margin-right: 2px;
}

.btn-row {
    margin-left: auto;
    margin-right: 28px;
    margin-top: 6px;
}

.input-wrapper {
    margin-bottom: 9px;
    width: 80%;
}

.input-wrapper label {
    display: block;
    font-size: 14px;
    color: #6C757D;
    margin-bottom: 3px;
}

.input-wrapper input {
    height: 20px;
    width: -webkit-fill-available;
    background: #f4f4f5;
    border: none;
    padding: 3px 7px;
    font-size: 12px;
    border-radius: 4px;
    color: dimgrey;
}

.input-wrapper input::placeholder {
    color: #bbbbbb;
}

.forgot-password {
    font-size: 12px;
    text-decoration: underline;
    cursor: pointer;
    margin-right: 30px;
    margin-left: auto;
    margin-top: -6px;
}

.btn-row-center {
    margin-left: auto;
    margin-right: auto;
    margin-top: 8px;
}

.cancel-btn-login {
    border: none;
    height: 27px;
    font-size: 15px;
    width: 78px;
    background: #DD5151;
    margin-bottom: 3px;
    color: white;
    cursor: pointer;
    margin-right: 2px;
    border-radius: 6px;
}

#login-btn {
    border: none;
    height: 27px;
    font-size: 15px;
    width: 78px;
    margin-bottom: 3px;
    color: white;
    cursor: pointer;
    background: #5D5BC8;
    border-radius: 8px;
}

.register-text {
    font-size: 12px;
    margin-top: 12px;
}

/*MESSAGES*/
.highlighter-popup-msg {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
}

.success-title {
    font-size: 21px;
    display: block;
    color: #179800;
    margin-bottom: 4px;
    font-weight: bold;
}

.error-title {
    font-size: 21px;
    display: block;
    color: #ff4747;
    margin-bottom: 4px;
    font-weight: bold;
}

.goback-btn {
    margin-top: 12px;
    font-size: 14px;
    height: 30px;
    width: 84px;
    margin-bottom: 3px;
    background: #5D5BC8;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    margin-right: 2px;
    border: none;
}
/*-------------------*/


/*------------------RATE POPUP--------------------*/
.breadcrumb-link {
    cursor: pointer;
    color: #888f96;
}
/*-------------------------------------------------*/

/*--------------------MAIN SCREEN-----------------*/
.search-bar#highlight-search {
    width: 86%;
    border: none;
    background: #efefef;
    height: 22px;
    border-radius: 5px;
    outline: none;
    font-size: 12px;
    color: #353535;
    box-sizing: border-box;
    padding-left: 24px;
    padding-right: 5px;
}

.search-wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 6px;
    margin-top: 6px;
    position: relative;
}

.search-wrapper .search-icon {
    position: absolute;
    left: 23px;
    font-size: 19px;
    top: 2px;
}
/*------------------------------------------------*/