@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300;400;600;700&display=swap');

.highlighter-popup {
    position: fixed;
    width: 321px;
    height: 262px;
    background: white;
    z-index: 2000000000;
    right: 15px;
    top: 15px;
    border-radius: 14px;
    box-shadow: 2px 3px 13px 5px #00000017;
    font-family: 'Signika Negative', sans-serif;
}

.highlighter-popup.log {
    top: 15px;
}

.highlighter-popup.controller {
    top: 290px;
}

.highlighter-popup-header .colors-wrapper {
    display: inline-flex;
    justify-content: space-evenly;
    height: 42px;
    padding-top: 10px;
    box-sizing: border-box;
    width: 98px;
    margin-right: 102px;
}

.highlighter-popup-header {
    width: 100%;
    height: 42px;
    background: #F7F6FF;
    border-radius: 14px 14px 0 0;
    display: flex;
}

.highlighter-popup.log .highlighter-popup-header h4 {
    font-size: 17px;
    text-align: left;
    margin-right: auto;
    margin-left: 22px;
    color: #6C757D;
    line-height: 41px;
    padding: 0;
}

.highlighter-popup.log .highlighter-popup-header {
    align-items: center;
}

.color-btn {
    cursor: pointer;
    height: 20px;
    width: 20px;
    border-radius: 100%;
    box-shadow: none;
    border: none;
}

.color-btn.selected {
    box-shadow: 0 0 0px 3px #5d5d5d;
}

.color-btn:focus {
    outline: none;
}

.color-btn.yellow {
    background: #ffff72;
}

.color-btn.orange {
    background: #ffcaa5;
}

.color-btn.green {
    background: #cfff72;
}

.highlighter-popup-log {
    height: 220px;
    overflow-y: scroll;
}

.highlighter-popup-log .log-wrapper {
    border: solid 1px #F7F6FF;;
    border-radius: 18px;
    width: 263px;
    padding: 6px 8px 6px 20px;
    margin: 10px 20px 10px auto;
    position: relative;
    box-sizing: border-box;
    height: 83px;
/*     background: rgb(39, 39, 39);
    color: white; */
}

.highlighter-popup-log .log-text {
    width: 185px;
    margin: 0;
    margin-right: 10px;
    line-height: 18px;
    vertical-align: baseline;
    display: inline-block;
    margin-right: 10px;
    max-height: 52px;
    text-overflow: ellipsis;
    overflow: hidden;
    padding-left: 7px;
    font-size: 16px;
    box-sizing: content-box;
    margin-top: 8px;
    color: #6C757D;
}

.highlighter-popup-log .log-icons {
    width: 27px;
    display: inline-block;
    box-sizing: content-box;
    position: absolute;
    top: 13px;
}

.highlighter-popup .icon-wrapper {
    border-radius: 3px;
    width: 21px;
    height: 21px;
    background: transparent;
    border: 1px solid #cccccc;
    border-radius: 5px;
    padding: 3px;
}

.highlighter-popup-log .log-web-icon {
    height: 21px;
    width: 21px;
}

.highlighter-popup-log .log-delete {
    margin-top: 8px;
    font-size: 21px;
    margin-left: 2px;
    cursor: pointer;
}

.highlighter-popup .log-text::before {
    content: "";
    width: 13px;
    height: 81px;
    position: absolute;
    left: -1px;
    top: 0;
    border-radius: 84px 0 0 84px;
}

.highlighter-popup .log-text.yellow::before {
    background: #ffff72;
}

.highlighter-popup .log-text.orange::before {
    background: #ffcaa5;
}

.highlighter-popup .log-text.green::before {
    background: #cfff72;
}

.highlighter-popup.log .icons-wrapper {
    display: inline-flex;
    width: 76px;
    justify-content: space-evenly;
    margin: 0;
    height: 42px;
    padding-top: 8px;
    box-sizing: border-box;
}

.highlighter-popup.log .header-btn {
    width: 27px;
    height: 27px;
    border: none;
    border-radius: 100%;
    background: #E9ECEF;
    padding: 0;
    cursor: pointer;
    outline: none;
}

#fix-btn.activated {
    background: #00bd53 !important;
}

#fix-btn.activated i {
    color: white !important;
}

.highlighter-popup.log .header-btn i {
    font-size: 18px;
    color: #6C757D;
    padding-top: 4px;
}

.highlighter-popup-log::-webkit-scrollbar {
    width: 14px;
    background: transparent;
}

.highlighter-popup-log::-webkit-scrollbar-thumb {
    background: #DEE2E6;
    border-radius: 18px;
    border: solid 5px white;
}

.highlighter-popup-log::-webkit-scrollbar-thumb:hover {
    background: #ababab;
    border: solid 4px white;
}



/*TOGGLE*/
.highlight-toggle-wrapper {
    display: inline-flex;
    padding-top: 10px;
    box-sizing: border-box;
    margin-right: 4px;
    width: 44px;
    height: 42px;
    margin-left: 9px;
    justify-content: space-evenly;
}

.toggle {
    position: relative;
    display: inline-block;
    width: 38px;
    height: 23px;
}

.toggle input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    border-radius: 180px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 17px;
    width: 17px;
    bottom: 3px;
    left: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #00bd53;
}

input:focus + .slider {
    outline: none;
}

input:checked + .slider:before {
    -webkit-transform: translateX(15px);
    -ms-transform: translateX(15px);
    transform: translateX(15px);
}
/*----------------------------------------------------*/